body {
  background-color: rgb(230, 173, 194);
}

h1 {
}

h2 {
}

footer {
}

.weather-box {
  background-color: white;
  margin-top: 40px;
  padding: 40px 0;
  border-radius: 5%;
}
.current-day {
}

.weather-forecast {
}

.day {
}

.icon {
}

.temps {
}
